
<section class="algo-view">
    <h2> 
        {{algo.name}}
    </h2>
    <section class="canvas-wrp">
        <canvas class="algo-raster" id="algo_raster" width="700" height="400">

        </canvas>
    </section>

    <section class="play-actns">
        <ul class="btn-list">
            <li [class.on]="playMode" (click)="play()">
                play
            </li>
            <li (click)="speedup()">
                speed: {{speed}}s
            </li>
            <li (click)="stop()">
                stop
            </li>
            <li  [class.end]="end" (click)="next()">
                next
            </li>
        </ul>
    </section>
</section>