
<section class="algo-view">
    <h2> 
        {{title}}
    </h2>
    <section class="canvas-wrp">
        <canvas class="algo-raster" id="algo_raster" width="700" height="400">

        </canvas>
    </section>

    <section class="play-actns">
        <ul class="btn-list">
            <li>
                play
            </li>
            <li>
                speed: 5s
            </li>
            <li>
                stop
            </li>
            <li>
                next
            </li>
        </ul>
    </section>
</section>